// compileCompressed: /home/guest/greenmramor/css/main.min.css;

@import "preloader/preloader"
@import "hamburger/hamburger"
@import "header/header"
@import "general-content/general-content"
@import "alert/alert"
@import "content/content"

@import "about/about"
@import "GUI/buttons"

@import "other/fonts"
@import "other/minimum-reset"

*
  font-family: 'Didact Gothic', sans-serif

html, body
  height: 100%

.wrapper
  transition: all ease 300ms

.container
  padding-left: 80px
  padding-right: 80px

.scld2
  transform: scale(1.1)

.scld1
  transform: scale(1)

.no-scroll
  overflow: hidden
